<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>    
    <div class="container">
        <h1 style="text-align: center; font-weight: bold;" >{{app}}</h1>
    </div>
    <div class="card" style="width: 30rem; margin-left: 400px; font-size: 23px; display: flex;">
        <div class="card-header" style="font-weight: bold;">
            {{msg}}
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Name: {{name}}</li>
            <li class="list-group-item">Email: {{email}}</li>
          </ul>
    </div>
    <div style="margin-top: 130px; font-size: 20px; display: flex;">
        <ul class="list-group" style="margin-right: 50%; margin-left: 25rem; width: 25.5%;">
            <li class="list-group-item active" aria-current="true">What are you wishing?</li>
            <a href="http://127.0.0.1:5501/frontend/index.html#/updateUser" style="color: black; text-decoration: none; "><li class="list-group-item">Chage your profile</li></a>
            <a href="http://127.0.0.1:5501/frontend/index.html#/addStudents" style="color: black; text-decoration: none; "><li class="list-group-item">Add new Students</li></a>
        </ul>
    </div>
    
    <div class="card" style="width: 30rem; margin-left: 400px; font-size: 23px; display: flex; margin-left: 55%; margin-top: -25%;">
        <div class="card-header" style="font-weight: bold;">
            Your Students
        </div>
        <ul class="list-group list-group-flush" ng-repeat="student in students">
            <li class="list-group-item">
                Name: {{student.name}} {{student.surname}}
                <a ng-click="openPatient(student.id)" style="text-decoration: none; float: right">
                    Edit
                </a>
                <span style="float: right; margin-right: 15px;">
                    Age: {{student.age}}
                </span>
            </li>
    </div>
    
</body>
</html>