<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>    
    <div class="container">
        <h1 style="text-align: center; font-weight: bold;" >{{app}}</h1>
    </div>
    <div ng-show="loading" style="display: flex; justify-content: center;">
        <img src="./loading-buffering.gif" alt="" style="width: 60px; height: 60px;">
    </div> <!-- div do reload -->
    <div class="card" style="width: 30rem; margin-left: 400px; font-size: 23px; display: flex;">
        <div class="card-header" style="font-weight: bold;">
            {{msg}}
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Name: {{name}}</li>
            <li class="list-group-item">Email: {{email}}</li>
          </ul>
    </div>
    <div style="margin-top: 130px; font-size: 20px; display: flex;">
        <ul class="list-group" style="margin-right: 50%; margin-left: 25rem; width: 25.5%;">
            <li class="list-group-item active" aria-current="true">What are you wishing?</li>
            <span ng-click="redirectTo('updateUser')">
                <li class="list-group-item">Change your profile</li>
            </span>
            <span ng-click="redirectTo('addStudents')">
                <li class="list-group-item">Add new Students</li>
            </span>
            <span ng-click="dislog()">
                <li class="list-group-item">Dislog from your account</li>
            </span>
        </ul>
    </div>
    
    <div class="card" style=" margin-right: 300px; font-size: 23px; display: flex; margin-left: 55%; margin-top: -25%;">
        <div class="card-header" style="font-weight: bold;">
            Your Students
        </div>
        <div ng-if="noStudents">
            {{message}}
            <br><img ng-src="../carinha_triste.jpeg" style="height: 100px; width: 100px;">
        </div>
        <ul class="list-group list-group-flush" ng-repeat="student in students">
            <li class="list-group-item">
                <br>
                <img ng-src="{{student.photos[0].file_name}}" class="rounded-circle" width="60" height="60">
                Name: {{student.name}} {{student.surname}}
                <span style="float: right; margin-right: 15px;">
                    Age: {{student.age}}
                </span>
                <br><a id="delete" ng-click="deleteStudent(student.id)" style="text-decoration: none; float: right; font-weight: bold;">
                    Delete
                </a>
                <a id="edit" ng-click="editStudent(student.id)" style="text-decoration: none; float: right; font-weight: bold; margin-right: 15px;">
                    Edit
                </a>
            </li>
    </div>
    
</body>
</html>