<div class="jumbotron" >
  <h2>{{app}}</h2>

  <ui-accordions title="Accordions">
    <ui-accordion title="Accordion 1">
      Olá, full, aqui é dubeux falando diretamente da amigo
    </ui-accordion>
    <ui-accordion title="Accordion 2">
      Olá,undefined
    </ui-accordion> <br>
  </ui-accordions>

  <div ui-alert title="Ops, aconteceu um problema!" ng-if="error">
    Não foi possível carregar os dados.
  </div>

  <input class="form-control" type="text" ng-model="filterText" placeholder="Searching">
  <table class="table" ng-show="contacts.length">
    <tr>
      <th></th>
      <th>Serial</th>
      <th><a href="" ng-click="orderBy('name')">Name</a></th>
      <th><a href="" ng-click="orderBy('phone')">Phone</a></th>
      <th>Operator</th>
      <th>Color</th>
      <th>Date</th>
    </tr>
    <tr ng-repeat="contact in contacts | filter:filterText | orderBy:orderFilter: direction"
      ng-class="{ 'selecionado negrito': contact.select }">
      <!--                               filter: {name: filterText}
         dessa forma o filtro so iria ser aplicado para a chave nome                       
        -->
      <!-- <td ng-repeat="(key, value) in contact">
          {{value}}
        </td> -->
      <td> <input type="checkbox" ng-model="contact.select"></td>
      <td>{{contact.serial}}</td>
      <td>{{contact.name | name}}</td>
      <td>{{contact.phone}}</td>
      <td>{{contact.op.name | lowercase}}</td>
      <td>
        <div style="width: 20px; height: 20px;" ng-style="{'background-color': contact.color}"></div>
      </td>
      <td>{{contact.date | date:'dd/MM/yyyy HH:mm'}}</td>
    </tr>
  </table> <br>
  <a class="btn btn-primary btn-block" href="http://127.0.0.1:5501/#/novoContato" >Adicionar contato</a>
  <button ng-click="deleteContact(contact)" ng-show="isContactSelected(contacts)" type="submit"
        class="btn btn-danger btn-block"> Delete contact</button>
      <button ng-click="alertMsg()" ng-hide="!contacts.length" class="btn btn-primary btn-block" style="margin-top: 20px;">
        Message </button>
      <button ng-click="addUser()" ng-if="!contacts.length" class="btn btn-primary btn-block" style="margin-top: 20px;">Try
        me</button>
</div>
<div style="text-align: center; font-size: 20px; margin-bottom: 20px;">
  Criado por Eduardo Dubeux
</div>